<mat-toolbar style="background-color: #F6F8FE !important; color: #A689FA;" class="padding">
  <span [routerLink]="['']">Challenge Me</span>
  <span class="example-spacer"></span>

  <div class="example-button-row">
    <button mat-button [routerLink]="['']">Home</button>
    <button mat-button [routerLink]="['/desafios']">Desafios</button>

    <ng-container *ngIf="isLoggedIn; else showLogin">
      <button mat-button [routerLink]="['/meus-desafios']">Meus Desafios</button>
      <button mat-flat-button style="background-color: #A689FA; color:#F6F8FE" (click)="logout()">Logout</button>
    </ng-container>

    <ng-template #showLogin>
      <button mat-flat-button style="background-color: #A689FA; color:#F6F8FE" [routerLink]="['/login']">Login</button>
    </ng-template>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>